{% extends 'master.html'%}
	{% block contenido%}

	<div class='container-fluid'>
		<div class="row">
		  <div class="col-xs-6">
		  	<div class="alert alert-success"><strong>SITIO ADMINISTRATIVO</strong></div>
			<table class="table">
				<tr class="info">
					<td>GESTION</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="alumnos">Alumnos</a></td>
					<td><p class="text-center"><a href="crearAlumno"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</a></p></td>
				</tr>				<tr>
					<td><a href="materias">Materias</a></td>
					<td><p class="text-center"><a href="crearMateria"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</a></p></td>
				</tr>
			</table>
		  </div>
		  <div class="col-xs-6"></div>
		</div>
	</div>


	{% endblock contenido%}