{% extends 'master.html'%}
	{% block contenido%}

	<div class='container-fluid'>
		<div class="row">
			<div class="col-xs-6 col-md-4">
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="alert alert-success"><strong>{{t | upper}}</strong></div>
			</div>		
			<div class="col-xs-6 col-md-4">
				<a href="crearAlumno" class="btn btn-primary btn-lg active"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			</div>
			<div class="col-xs-12">
				<table class="table">
					<tr  class="info">
						<td>CEDULA</td>
						<td>NOMBRES</td>
						<td>APELLIDOS</td>
						<td>CORREO</td>
						<td>TELEFONO</td>
						<td>CELULAR</td>
						<td>DIRECCION</td>
						<td>GENERO</td>
						<td>FECHA NACIMIENTO</td>
						<td></td>
					</tr>
				{% for d in alumnos%}
					<tr>
						<td><a href="modificarAlumno?ced={{d.cedula}}" >{{d.cedula}}</a></td>
						<td>{{d.nombres}}</td>
						<td>{{d.apellidos}}</td>
						<td>{{d.correo}}</td>
						<td>{{d.telefono}}</td>
						<td>{{d.celular}}</td>
						<td>{{d.direccion}}</td>
						<td>{{d.sexo}}</td>
						<td>{{d.fechaNacimiento}}</td>
						<td><a href="eliminarAlumno?ced={{d.cedula}}" onclick="if(!confirm('¿Esta seguro de eliminar el alumno?'))return false"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></td>
					</tr>
				{% endfor%}

				</table>	
			</div>
		</div>
	</div>
	{% endblock contenido%}