{% extends 'master.html'%}
	{% block contenido%}

	<div class='container-fluid'>
		<div class="row">
			<div class="col-xs-6 col-md-4">
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="alert alert-warning"><strong>{{t | upper}}</strong></div>
				<div class="panel panel-default ">
					<div class="panel-body">
						<form method="POST" >{% csrf_token %}

							{% for campo in form %}
								<p>{{ campo.errors }} {{ campo.label_tag }} {{ campo }}</p>
							{% endfor %}

							{{form1.as_p}}
							<input type="submit" value={{t}} class="btn btn-primary" onclick="if(!confirm('Confirme su peticion'))return false"> </input>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	{% endblock contenido%}