{% extends 'master.html'%}
	{% block contenido%}

	<div class='container-fluid'>
		<div class="row">
			<div class="col-xs-6 col-md-4">
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="alert alert-success"><a href="#cuentas" name="cuentas">{{t}}</a></div>
			</div>		
			<div class="col-xs-6 col-md-4">
			<a href="crear?ced={{ced}}" class="btn btn-success btn-lg active"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span></a>
			</div>	
			<table class="table table-hover">
				<tr  class="info">
					<td>NUMERO CUENTA</td>
					<td>CEDULA</td>
					<td>FECHA APERTURA</td>
					<td>ESTADO</td>
					<td>SALDO</td>
					<td></td>
				</tr>
			{% for d in lCuentas%}
				<tr>
					<td>{{d.numeroCuenta}}</td>
					<td>{{d.idC}}</td>
					<td>{{d.fechaApertura}}</td>				
					{%if d.estado%}
						<td><a href="estado?nc={{d.numeroCuenta}}&ced={{d.idC}}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a> Activada</td>
						<td>{{d.saldo}}</td>
						<td><a href="transaccion?nc={{d.numeroCuenta}}&ced={{d.idC}}"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></a></td>
					{%else%}
						<td><a href="estado?nc={{d.numeroCuenta}}&ced={{d.idC}}"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a> Desactivada</td>
						<td>{{d.saldo}}</td>
						<td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></td>
					{%endif%}
				</tr>
			{% endfor%}

			</table>	
		</div>
	</div>
	{% endblock contenido%}