<div class='container'>
	<div class='well'>
		<div class="row">
			<div class="col-xs-6">
				<h3><strong><a href="/administrar">ADMINISTRACION DE MATRICULAS</a></strong></h3>
			</div>
			<div class="col-xs-6"></br>
				{% if request.user.is_authenticated %}
				<p class="text-right">
					Bienvenid@:
					<!--a class="a-unl" href="{% url 'perfil' %}" title=""-->
						{{ request.user.last_name }} {{ request.user.first_name }}
					<!--/a--> // 
					<a class="a-unl" href="{% url 'cerrar' %}">
						Salir
					</a>
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>