{% extends 'master.html'%}
	{% block contenido%}

	<div class='container-fluid'>
		<div class="row">
			<div class="col-xs-6 col-md-4">
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="alert alert-success"><strong>{{t | upper}}</strong></div>
			</div>		
			<div class="col-xs-6 col-md-4">
				<a href="crearMateria" class="btn btn-primary btn-lg active"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			</div>	
			<table class="table table-hover">
				<tr  class="info">
					<td>NOMBRE</td>
					<td>FECHA INICIO</td>
					<td>FECHA FIN</td>
					<td>CREDITOS</td>
					<td>CUPOS</td>
					<td></td>
				</tr>
			{% for d in materias%}
				<tr>
					<td><a href="modificarMateria?id={{d.nombre}}" >{{d.nombre}}</a></td>
					<td>{{d.fechaInicio}}</td>
					<td>{{d.fechaFin}}</td>
					<td>{{d.creditos}}</td>
					<td>{{d.cupos}}</td>
					<td><a href="eliminarMateria?id={{d.nombre}}" onclick="if(!confirm('¿Est seguro de eliminar la materia?'))return false"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span></a></td>
				</tr>
			{% endfor%}

			</table>	
		</div>
	</div>
	{% endblock contenido%}