{% if messages %}
<div class='container-fluid'>
	<div class="row">
		<div class="col-xs-12">
		{% for msg in messages %}
			{% if  msg.level_tag == 'error'%}
				<ol class="breadcrumb alert-danger">
		          	<li>
		          		<strong><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{msg.message}}</strong>
					</li>
				</ol>
			{% endif %}
			{% if  msg.level_tag == 'success'%}
		        <ol class="breadcrumb alert-success">
		          	<li>
		          		<strong><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{msg.message}}</strong>
					</li>
				</ol>
			{% endif %}
		{% endfor %}
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		</div>
	</div>
</div>
{% endif %}