{% if messages %}
<div class='container-fluid'>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	{% for msg in messages %}
		{% if  msg.level_tag == 'error'%}
			<div class="alert alert-danger" role="alert">
				ERROR: {{msg.message}}
			</div>
		{% endif %}
		{% if  msg.level_tag == 'success'%}
			<div class="alert alert-success" role="alert">
				SUCCESS: {{msg.message}}
			</div>
		{% endif %}
	{% endfor %}
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	</div>
</div>
{% endif %}