{% extends 'master.html'%}
	{% block contenido%}

	<div class='container-fluid'>
		<div class="row">
			<div class="col-xs-6 col-md-4">
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="alert alert-success"><a href="#transaccion" name="transaccion">{{t}}</a></div>
				<form method="POST" >{% csrf_token %}

					{% for campo in form %}
						<p>{{ campo.errors }} {{ campo.label_tag }} {{ campo }}</p>
					{% endfor %}

					{{form1.as_p}}
					<input type="submit" value="Registrar" class="btn btn-success btn-lg active" onclick="if(!confirm('¿Est seguro de realizar la transaccion?'))return false"> </input>

				</form></br>
			</div>
		</div>
	</div>


	{% endblock contenido%}